body{
    background-image: url('/images/anand-s-CtqSoMZY7c8-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
    font-size: 100%;
    max-width: 100%;
    width: 2000px;
    margin: auto;
    text-align: center;
   
   
}
#greeting{
   
    text-align: center;
    padding: 30px;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color:rgb(247, 99, 45);
    
}

#clock{
    border-style: double;
    padding: 5px;
    background-color: rgb(190, 239, 232);
    
}
span{
    margin: 20px;;
}

.flexbox {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
  
  }
  
  .item {
    height: 12em;
    width: 20em;
    background-color:rgb(224, 224, 129);
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
  }

article {
    background-color: transparent;
    padding: 20px 40px 40px 40px;
    margin:50px;
    border-radius: 10px;
    box-shadow: .2em .2em .5em #999;
    text-align: left;
    width: auto;
    font-family: 'Roboto', sans-serif;
  
}
button{
    font-size:24px ;
    color: rgb(106, 157, 29);
}

.result {
    font-family: 'Playfair Display', serif;
    background-color: rgb(190, 239, 232);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 100px;
    width: 300px;
    border-radius: 10px;
}

#demo{
    font-family: 'Playfair Display', serif;
}
#small{
    color: rgb(107, 112, 15);
}
#medium{
    color: rgb(231, 178, 33);
}
#large{
    color: rgb(235, 137, 24);
}
#extraLarge{
    font-size:48px;
    color:red;
}
#phrase{
    text-align: center;
    font-family: 'Alkalami', serif;
    color:rgb(225, 105, 25);
    font-size: 25px;
    font-weight: lighter;
}

#chores{
    padding: 10px;
    background-color:  rgb(190, 239, 232);
    border-radius: 10px;
}