body{
    background-image: url('/images/anand-s-CtqSoMZY7c8-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
    font-size: 100%;
    max-width: 100%;
    width: 2000px;
    margin: auto;
    text-align: center;
   
   
}
h1{
    text-align: center;
    padding: 20px;
    font-family: 'Gentium Plus', serif;;
}
article {
    background-color: beige;
    padding: 20px 40px 40px 40px;
    margin: 20px 300px;
    border-radius: 10px;
    box-shadow: .2em .2em .5em #999;
    text-align: left;
    width: auto;
    font-family: 'Roboto', sans-serif;
  
}
button{
    font-size:24px ;
    color: rgb(106, 157, 29);
}

#demo{
    font-family: 'Playfair Display', serif;
}
#small{
    color: rgb(187, 193, 86);
}
#medium{
    color: rgb(231, 178, 33);
}
#large{
    color: rgb(235, 137, 24);
}
#extraLarge{
    font-size:48px;
    color:red;
}
#phrase{
    font-family: 'Alkalami', serif;
    color:rgb(31, 183, 142);
    font-size: 20px;
}