body{
    background-image: url('/images/anand-s-CtqSoMZY7c8-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
    font-size: 100%;
    max-width: 100%;
    width: 2000px;
    margin: auto;
    text-align: center;
   
   
}
#greeting{
    text-align: center;
    padding: 30px;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color:rgb(247, 99, 45);
    
}

#clock{
    border-style: double;
    padding: 5px;
    
}
span{
    margin: 20px;;
}

.flexbox {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
  
  }
  
  .item {
    height: 20em;
    width: 20em;
    background-color:beige;
    margin: 5px;
  }

article {
    background-color: beige;
    padding: 20px 40px 40px 40px;
    margin:30px;
    border-radius: 10px;
    box-shadow: .2em .2em .5em #999;
    text-align: left;
    width: auto;
    font-family: 'Roboto', sans-serif;
  
}
button{
    font-size:24px ;
    color: rgb(106, 157, 29);
}

.result {
    font-family: 'Playfair Display', serif;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 200px;
    width: 300px;
}

#demo{
    font-family: 'Playfair Display', serif;
}
#small{
    color: rgb(187, 193, 86);
}
#medium{
    color: rgb(231, 178, 33);
}
#large{
    color: rgb(235, 137, 24);
}
#extraLarge{
    font-size:48px;
    color:red;
}
#phrase{
    font-family: 'Alkalami', serif;
    color:rgb(192, 122, 30);
    font-size: 20px;
}
